html {
    --v3-white: #ffffff;
    --v3-white-1: #fffaef;
    --v3-white-2: #fffcf7;
    --v3-linen: #fbf4ea;
    --v3-brown: #d1a26a;
    --v3-brown-1: #e5caa9;
    --v3-brown-2: #edd8bf;
    --v3-green: #4b654d;
    --v3-red: #dc3545;
    --v3-dark: #2d363c;
}