html {
    --v3-white: #ffffff;
    --v3-white-1: #fffaef;
    --v3-white-2: #fffcf7;
    --v3-linen: #fbf4ea;
    --v3-brown: #d1a26a;
    --v3-black: #000000;
    --v3-brown-2: #edd8bf;
    --v3-lightgray: #3a3a3a;
    --v3-gray: #303030;
    --v3-dark: #2d363c;
}