.header {
    background: var(--v3-white-1);
    padding: 24px 5%;
}

.section {
    padding-top: var(--space-lg);
}

.section-inner {
    display: grid;

    grid-column-gap: 40px;
    grid-row-gap: clamp(28px, 4vw, 40px);
    padding: 0 5%;
}

.section-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: clamp(28px, 4vw, 40px);
    background: #d1a26a;
    border-radius: 16px;
    padding: 24px;
}

.footer {
    background: var(--v3-white-1);
    padding: 24px 5%;
    margin-top: auto;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 60px;
}

.subtitle {
  color: #b5b5b5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.top-content h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 600px;
}

.side-text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  max-width: 400px;
  margin-top: 12px;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  min-width: 300px;
}

.intro {
  background: #f9f8f7;
  border-radius: 4px;
  padding: 24px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.info-boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  min-width: 260px;
}

.side-image {
  width: 453px;
  height: 339px;
  border-radius: 4px;
  background: linear-gradient(
    0deg,
    rgba(48, 48, 48, 0.16),
    rgba(48, 48, 48, 0.16)
  );
}

/* ==========================
   CONSULTING SECTION
========================== */
.consulting-services {
    background: #fff;
}

.consulting-services .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}

.consulting-services .left {
  flex: 1 1 250px;
  min-width: 250px;
}

.consulting-services h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.3;
}

.consulting-services .right {
  flex: 2 1 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 60px;
}
@media only screen and (max-width: 525px) {
    .section-inner {
        grid-template-columns: 1fr;
    }
}